html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Verdana";
    font-size: 24px;
    text-align: center;
}
input {
    font-size: 24px;
    line-height: 30px;
    height: 30px
}
button {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border: 2px none;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(76, 126, 242);
    color: white;
}
#searchTerm {
    color: #4B0082;
    width: 100% auto;
    font-size: 36px;
    text-align: center;
    margin: 15px auto;
}
#viz {
    width: 960px;
    float: left;
}
#giphy {
    margin-left: 960px;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -250px;
    position: fixed;
    width: 600px;
}
.link {
    fill: none;
    stroke: #4B0082;
    stroke-width: 2px;
}
.node circle {
    stroke: black;
    stroke-width: 1;
    fill: #fff;
}
.node text {
    font: 12px sans-serif;
}
